html{
    background-color: #12D2E8;

}

h1{
    text-align: center;
}

body {

    width: auto;
    margin-right: 400px;
    margin-left: 400px;
    padding: 10px;
    text-align: justify;

}

input[type=text], select{

    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #cecece;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea{
    resize:none;
}


input[type=button] {
    width: 100%;
    background-color: #0122E8;
    color: #cecece;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=button]:hover {
    background-color: #0085FF;
}

div {
    font-family: "Lucida Console", Times, serif;
    border-radius: 5px;
    background-color: #0085FF;
    padding: 20px;
}

