html{
    
    background-color: #8e9eab;
    color: white;

}

h1{
    text-align: center;
}

body {
    
    width: 900;
    margin-right: 400px;    
    margin-left: 400px;
    padding: 10px;
    text-align: justify;

}

input[type=text], select{

    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea{
    resize:none;
}


input[type=button] {
    width: 100%;
    /*background-color: #FE4365;*/
    background-color: #CC9933;
    color: black;
    /*color: white;*/
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=button]:hover {
    /*background-color: #FC9D9A;*/
    background-color: #CC9933;
    color: black;
}

#new {
    /*font-family: "Lucida Console", Times, serif;
    border-radius: 5px;
    background-color: #031634;
    padding: 20px;
    color: white;*/

    font-family: "Lucida Console", Times, serif;
    color: white;
    border-radius: 5px;
    background-color: #031634;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1%;
    padding: 30px;
    text-align: justify;
}